.room-code {
  border-radius: 0.5rem;

  background: #fff;
  border: 1px solid #3062DB;
  cursor: pointer;

  display: flex;

  div {
    background: #3062DB;
    padding: 0 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;

    //it solves the problem with the box that doesn't fit properly in the clipboard button
    border-radius: 0.5rem 0 0 0.5rem;
    margin: -1px;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem 0 0.875rem;
    width: 15rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
}
