.room-code {
  border-radius: 8px;

  background: #fff;
  border: 1px solid #3062DB;
  cursor: pointer;

  display: flex;

  div {
    background: #3062DB;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    //it solves the problem with the box that doesn't fit properly in the clipboard button
    border-radius: 8px 0 0 8px;
    margin: -1px;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 240px;
    font-size: 14px;
    font-weight: 500;
  }
}
