#page-room {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 2.8125rem;
      }
      > div {
        display: flex;
        gap: 1rem;

        button {
          height: 2.5rem;
        }
      }
    }
  }

  .main-room {
    max-width: 50rem;
    margin: 0 auto;

    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        color: #29292e;
      }

      span {
        margin-left: 1rem;
        background: #2d9cdb;
        border-radius: 9999px;
        padding: 0.5rem 1rem;
        color: #fff;
        font-weight: 500;
        font-size: 0.875rem;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 8.125rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5rem;
            color: #29292e;
            font-weight: 500;
            font-size: 0.875rem;
          }
        }

        > span {
          font-size: 0.875rem;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #2f80ed;
            text-decoration: underline;
            font-size: 0.875rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;
    }
  }
}
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 31.25rem;
  height: 22.625rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  > svg path {
    stroke: #e73f5d;
  }
  > svg {
    width: 3rem;
    height: 3rem;
  }
  h2 {
    margin: 1.75rem 0 0.875rem 0;
  }

  p {
    color: #c4c4c4;
  }
  .confirmArea {
    display: flex;
    gap: 1rem;
    height: 3.125rem;

    button {
      width: 9.2rem;
      height: 3.125rem;
      border-radius: 0.5rem;
      margin-top: 1.75rem;
      &:first-child {
        background: #dbdcdd;
        color: #737380;
        border: none;
      }

      &:last-child {
        background: #e73f5d;
        color: #fff;
        border: none;
      }
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.795);
}

@media (max-width: 60rem) {
  #page-room {
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      > div {
        flex-direction: column;
      }
    }

    .main-room {
      padding: 0 2rem;
    }
  }
  .Modal
    {
      width: 100%;
      padding: 0 2rem;
    }
}

@media (max-width: 23rem)
{
  .room-title span {
    width: 100%;
    text-align: center;
  }
}